body {
    background: #e4e4e4;
    font-family: Helvetica
}

h1 {
    color: white;
    text-align: center;
    padding-top: 40px;
}

#spectrum {
    width: 450px;
    height: 100px;
    background: #000;
    display: block;
    margin: auto;
}

#container {
    border-radius: 10px;
    width: 500px;
    height: 600px;
    background: #000;
    display: block;
    margin: auto;
    padding-top: 120px;
    margin-top: 20px;
}

#startCss {
    padding-left: 16px;
    color: white;
    font-size: 16px;
    font-family:
    font-weight: bold;
    line-height: 24px;
}

.fa-microphone {
     color: white;
 }

#rcorners {
    border-radius: 25px;
    background: #009FDA;
    padding: 8px;
    margin: auto;
    display:block;
    width: 140px;
}

#iconCss{
 margin-left:24px;
}

#record {
    width: 30px;
    display: block;
    margin-left: 20px ;
}

#conversation {
    height: 200px;
    display: block;
    margin: auto;
}

#instructions {
    border-radius: 10px;
    width: 500px;
    height: 200px;
    background: #000;
    display: block;
    margin: auto;
    color: white;
    padding: auto;
}

p, h2{
   padding: 15px;
   margin: 0;
}

h2 {
    text-align: center;
}