<div id="instructions">

<h2> Hello! I am iPractice bot. </h2>
<p>
I am here to help you practise a foreign language.<br><br><br>
Ask me a question. <br>
e.g. : "How do you say <i>(some words)</i> in <i>(a language)</i> ? "
</p>

</div>

<div id="container">

<div id="rcorners" onclick="iPractice.listen()"">
   <div id="iconCss"><i class="fa fa-microphone" style="font-size:24px;"></i><label id="startCss">START</label></div>

</div>

<div id="conversation"></div>

<div id="spectrum"></div>

</div>