<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/style.css">
    <title>iPractice</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <script src="js/siriwave.js"></script>

    {{{body}}}

    <script src="js/iosCode.js"></script>
    <script src="js/script.js"></script>
    <script src="js/practise.js"></script>
    <script src="js/feedback.js"></script>
    <script src="js/RecordRTC.js"></script>
    <script src="js/mic.js"></script>

</body>
</html>